.bg-pink{
    background-color: #fff1f5;
}

.img-auth{
  background-image: url('~/assets/auth.jpg');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hover:hover{
  text-decoration: underline;
}